USE [PIV_Reports]
GO
/****** Object:  Table [dbo].[lkEDSJobCode]    Script Date: 10/28/2008 13:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lkEDSJobCode](
	[JobCodeId] [int] IDENTITY(4000,1) NOT NULL,
	[JobCodeDesc] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StatusCode] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastUpdateDate] [datetime] NULL CONSTRAINT [DF_lkEDSJobCode_LastUpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [XPKlkEDSJobCode] PRIMARY KEY NONCLUSTERED 
(
	[JobCodeId] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF