USE [SAP_Import]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ParseProjectTask]    Script Date: 11/17/2008 09:59:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jody Ennen
-- Create date: 10/14/2008
-- Description:	This function does stuff
-- =============================================
CREATE FUNCTION [dbo].[fn_ParseProjectTask] 
(
	-- Add the parameters for the function here
	@ExtProjectTask varchar(8000), 
	@RetValue int
)
RETURNS 
@tblEntry TABLE 
(
	-- Add the column definitions for the TABLE variable here
	Entry varchar(50)
)
AS
BEGIN
	-- Fill the table variable with the rows for your result set
	--declare the delimeter between each Entry
	DECLARE @Delimeter char(1)
	SET @Delimeter = '-'

	--Parse the string and insert each Entry into the @tblEntry table
	--DECLARE @tblEntry TABLE(Entry varchar(50))
	DECLARE @Entry varchar(50)
	DECLARE @StartPos int, @Length int
	DECLARE @RowCount int

	SET @RowCount = 0

	WHILE LEN(@ExtProjectTask) > 0
	  BEGIN
		SET @RowCount = @RowCount + 1
		SET @StartPos = CHARINDEX(@Delimeter, @ExtProjectTask)
		IF @StartPos < 0 SET @StartPos = 0
		SET @Length = LEN(@ExtProjectTask) - @StartPos - 1
		IF @Length < 0 SET @Length = 0
		IF @StartPos > 0
		  BEGIN
			SET @Entry = SUBSTRING(@ExtProjectTask, 1, @StartPos - 1)
			SET @ExtProjectTask = SUBSTRING(@ExtProjectTask, @StartPos + 1, LEN(@ExtProjectTask) - @StartPos)
		  END
		ELSE
		  BEGIN
			SET @Entry = @ExtProjectTask
			SET @ExtProjectTask = ''
		  END
		IF @RowCount = @RetValue
		  BEGIN
			INSERT @tblEntry (Entry) VALUES(@Entry)
		  END
	END
	RETURN 
END
