USE [PIV_Reports]
GO
/****** Object:  StoredProcedure [dbo].[Get_EDS_Job_Code_Listing]    Script Date: 10/28/2008 14:33:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Get_EDS_Job_Code_Listing]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT * 
	FROM dbo.lkEDSJobCode
	ORDER BY JobCodeDesc ASC
END
