USE [PIV_Reports]
GO
/****** Object:  Table [dbo].[lkCoFundingRqmt]    Script Date: 11/19/2008 15:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lkCoFundingRqmt](
	[CoFundingID] [int] IDENTITY(8000,1) NOT NULL,
	[Description] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StatusCode] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastUpdateDate] [datetime] NULL CONSTRAINT [DF_lkCoFundingRqmt_LastUpdateDate]  DEFAULT (getdate()),
 CONSTRAINT [XPKlkCoFundingRqmt] PRIMARY KEY NONCLUSTERED 
(
	[CoFundingID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF