
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[CO_Support_View]
AS
SELECT     TOP (100) PERCENT dbo.tblProject.Prog_GroupID, dbo.tblProject.ProgramID, dbo.tblProject.AFE_DescID, dbo.tblProject.Client, 
                      dbo.tblProject.BillingFlag, dbo.tblProjectCoFunding.ClientFundingPct, dbo.tblProjectCoFunding.ClientFundedBy, 
                      dbo.lkAFEDescription.Description AS AFEDesc, dbo.lkProgramGroup.Description AS ProgramGroup, dbo.lkProgram.Description AS Program, 
                      dbo.lkBillingCode.Description AS BillingType, dbo.ResourceDetailHours.WorkDate, dbo.ResourceDetailHours.ResourceNumber AS EDSNETID, 
                      dbo.ResourceDetailHours.ProjectID, dbo.ResourceDetailHours.TaskID, dbo.ResourceDetailHours.Hours, dbo.tblTask.BillingException, 
                      dbo.tblProject.ProjectStatusID, dbo.tblProject.ProjectTitle, dbo.tblTaskCoFunding.ClientFundingPct AS TaskClientFundingPct, 
                      dbo.tblTaskCoFunding.ClientFundedBy AS TaskClientFundedBy, dbo.tblAFEDetail.COBusinessLead, MONTH(dbo.ResourceDetailHours.WorkDate) 
                      AS MM_Month, YEAR(dbo.ResourceDetailHours.WorkDate) AS YYYY_Year, dbo.tblTask.Name AS TaskName, 
                      dbo.tblResource.LastName + ', ' + dbo.tblResource.FirstName AS Resource, dbo.tblResource.ResourceOrg, dbo.tblAFEDetail.Funding_CatID, 
                      dbo.lkTaskCategory.TaskCategoryCode, LTRIM(dbo.tblTask.TaskCode) AS taskcode, dbo.tblTask.TaskID AS Expr1, 
                      dbo.tblResource.Billing_CodeID
FROM         dbo.lkProgram RIGHT OUTER JOIN
                      dbo.lkBillingCode RIGHT OUTER JOIN
                      dbo.tblResource ON dbo.lkBillingCode.Billing_CodeID = dbo.tblResource.Billing_CodeID RIGHT OUTER JOIN
                      dbo.tblProject INNER JOIN
                      dbo.tblTask ON dbo.tblProject.ProjectID = dbo.tblTask.ProjectID LEFT OUTER JOIN
                      dbo.lkTaskCategory ON LTRIM(dbo.tblTask.TaskCode) = dbo.lkTaskCategory.Text10Code LEFT OUTER JOIN
                      dbo.tblTaskCoFunding ON dbo.tblTask.ProjectID = dbo.tblTaskCoFunding.ProjectID AND 
                      dbo.tblTask.TaskID = dbo.tblTaskCoFunding.TaskID LEFT OUTER JOIN
                      dbo.tblAFEDetail ON dbo.tblProject.AFE_DescID = dbo.tblAFEDetail.AFE_DescID RIGHT OUTER JOIN
                      dbo.ResourceDetailHours ON dbo.tblTask.ProjectID = dbo.ResourceDetailHours.ProjectID AND 
                      dbo.tblTask.TaskID = dbo.ResourceDetailHours.TaskID ON dbo.tblResource.ResourceNumber = dbo.ResourceDetailHours.ResourceNumber ON 
                      dbo.lkProgram.ProgramID = dbo.tblProject.ProgramID LEFT OUTER JOIN
                      dbo.lkProgramGroup ON dbo.tblProject.Prog_GroupID = dbo.lkProgramGroup.Prog_GroupID LEFT OUTER JOIN
                      dbo.lkAFEDescription ON dbo.tblProject.AFE_DescID = dbo.lkAFEDescription.AFE_DescID LEFT OUTER JOIN
                      dbo.tblProjectCoFunding ON dbo.tblProject.ProjectID = dbo.tblProjectCoFunding.ProjectID
WHERE     (dbo.tblProject.Client LIKE '%Continental%') AND (dbo.tblProject.BillingFlag = 'Client Billable') OR
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblProjectCoFunding.ClientFundedBy LIKE '%Continental%') OR
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblTaskCoFunding.ClientFundedBy LIKE '%Continental%')
ORDER BY dbo.ResourceDetailHours.WorkDate, EDSNETID, dbo.ResourceDetailHours.ProjectID, dbo.ResourceDetailHours.TaskID
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

