
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[AFE_Summary_View]
AS
SELECT     TOP (100) PERCENT dbo.tblResource.Billing_CodeID AS billingid, dbo.tblProject.Prog_GroupID, dbo.tblProject.ProgramID, dbo.tblProject.AFE_DescID, 
                      dbo.tblProject.Client, dbo.tblProject.BillingFlag, dbo.tblProjectCoFunding.ClientFundingPct, dbo.tblProjectCoFunding.ClientFundedBy, 
                      dbo.lkAFEDescription.Description AS AFEDesc, dbo.lkProgramGroup.Description AS ProgramGroup, dbo.lkProgram.Description AS Program, 
                      dbo.lkBillingCode.Description AS BillingType, dbo.tblProject.Type, dbo.ResourceDetailHours.WorkDate, 
                      dbo.ResourceDetailHours.ResourceNumber AS EDSNETID, dbo.ResourceDetailHours.ProjectID, dbo.ResourceDetailHours.TaskID, 
                      dbo.ResourceDetailHours.Hours, dbo.tblTask.BillingException, dbo.lkITSABillingCategory.Description AS ITSABillingCat, 
                      dbo.tblAFEDetail.Funding_CatID, dbo.tblProject.ProjectStatusID, dbo.tblProject.ProjectTitle, 
                      dbo.tblTaskCoFunding.ClientFundingPct AS TaskClientFundingPct, dbo.tblTaskCoFunding.ClientFundedBy AS TaskClientFundedBy, 
                      dbo.tblResource.ResourceOrg, dbo.tblAFEDetail.COBusinessLead
FROM         dbo.lkProgramGroup RIGHT OUTER JOIN
                      dbo.tblProject INNER JOIN
                      dbo.tblTask ON dbo.tblProject.ProjectID = dbo.tblTask.ProjectID LEFT OUTER JOIN
                      dbo.tblTaskCoFunding ON dbo.tblTask.ProjectID = dbo.tblTaskCoFunding.ProjectID AND 
                      dbo.tblTask.TaskID = dbo.tblTaskCoFunding.TaskID LEFT OUTER JOIN
                      dbo.tblAFEDetail ON dbo.tblProject.AFE_DescID = dbo.tblAFEDetail.AFE_DescID LEFT OUTER JOIN
                      dbo.lkITSABillingCategory ON dbo.tblAFEDetail.ITSABillingCategoryID = dbolkITSABillingCategory.ITSABillingCategoryID LEFT OUTER JOIN
                      dbo.ResourceDetailHours ON dbo.tblTask.ProjectID = dbo.ResourceDetailHours.ProjectID AND 
                      dbo.tblTask.TaskID = dbo.ResourceDetailHours.TaskID LEFT OUTER JOIN
                      dbo.lkBillingCode RIGHT OUTER JOIN
                      dbo.tblResource ON dbo.lkBillingCode.Billing_CodeID = dbo.tblResource.Billing_CodeID ON 
                      dbo.ResourceDetailHours.ResourceNumber = dbo.tblResource.ResourceNumber LEFT OUTER JOIN
                      dbo.lkProgram ON dbo.tblProject.ProgramID = dbo.lkProgram.ProgramID ON 
                      dbo.lkProgramGroup.Prog_GroupID = dbo.tblProject.Prog_GroupID LEFT OUTER JOIN
                      dbo.lkAFEDescription ON dbo.tblProject.AFE_DescID = dbo.lkAFEDescription.AFE_DescID LEFT OUTER JOIN
                      dbo.tblProjectCoFunding ON dbo.tblProject.ProjectID = dbo.tblProjectCoFunding.ProjectID
WHERE     (dbo.tblProject.Client IN ('Continental Express', 'Continental Micronesia', 'Continental Account', 'Continental Airlines', 'Continental Acct')) AND 
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblProject.Type <> 'Infrastructure') OR
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblProject.Type <> 'Infrastructure') AND 
                      (dbo.tblProjectCoFunding.ClientFundedBy IN ('Continental Express', 'Continental Micronesia', 'Continental Account', 'Continental Airlines', 
                      'Continental Acct')) OR
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblProject.Type <> 'Infrastructure') AND 
                      (dbo.tblTaskCoFunding.ClientFundedBy IN ('Continental Express', 'Continental Micronesia', 'Continental Account', 'Continental Airlines', 
                      'Continental Acct'))
ORDER BY dbo.ResourceDetailHours.WorkDate, EDSNETID, dbo.ResourceDetailHours.ProjectID, dbo.ResourceDetailHours.TaskID
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

