
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[FTE_Approved_Time]
AS
SELECT     dbo.lkAFEDescription.Description AS AFEDesc, dbo.lkProgram.Description AS Program, dbo.lkProgramGroup.Description AS ProgramGroup, 
                      dbo.tblAFEDetail.Prog_GroupID, dbo.tblAFEDetail.ProgramID, SUM(dbo.tblStaffingPlanDetail.FTE_frcst_mo1) AS Appr_FTE_Hours, 
                      dbo.tblStaffingPlanDetail.CurrentMonth, dbo.tblStaffingPlanDetail.AFE_DescID, dbo.tblAFEDetail.Funding_CatID, 
                      dbo.tblAFEDetail.COBusinessLead
FROM         dbo.lkAFEDescription INNER JOIN
                      dbo.tblAFEDetail ON dbo.lkAFEDescription.AFE_DescID = dbo.tblAFEDetail.AFE_DescID INNER JOIN
                      dbo.lkProgram ON dbo.tblAFEDetail.ProgramID = dbo.lkProgram.ProgramID INNER JOIN
                      dbo.lkProgramGroup ON dbo.tblAFEDetail.Prog_GroupID = dbo.lkProgramGroup.Prog_GroupID RIGHT OUTER JOIN
                      dbo.tblStaffingPlanDetail ON dbo.tblAFEDetail.AFE_DescID = dbo.tblStaffingPlanDetail.AFE_DescID
GROUP BY dbo.lkAFEDescription.Description, dbo.lkProgram.Description, dbo.lkProgramGroup.Description, dbo.tblAFEDetail.Prog_GroupID, 
                      dbo.tblAFEDetail.ProgramID, dbo.tblStaffingPlanDetail.CurrentMonth, dbo.tblStaffingPlanDetail.AFE_DescID, dbo.tblAFEDetail.Funding_CatID, 
                      dbo.tblAFEDetail.COBusinessLead
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

