
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[AFE_Resource_Summary_View]
AS
SELECT     TOP (100) PERCENT dbo.tblResource.Billing_CodeID AS billingid, dbo.tblProject.Prog_GroupID, dbo.tblProject.ProgramID, dbo.tblProject.AFE_DescID, 
                      dbo.tblProject.Client, dbo.tblProject.BillingFlag, dbo.tblProjectCoFunding.ClientFundingPct, dbo.tblProjectCoFunding.ClientFundedBy, 
                      dbo.lkAFEDescription.Description AS AFEDesc, dbo.lkProgramGroup.Description AS ProgramGroup, dbo.lkProgram.Description AS Program, 
                      dbo.lkBillingCode.Description AS BillingType, dbo.tblProject.Type, dbo.tblTask.BillingException, 
                      dbo.lkITSABillingCategory.Description AS ITSABillingCat, dbo.tblAFEDetail.Funding_CatID, dbo.tblProject.ProjectStatusID, dbo.tblProject.ProjectTitle, 
                      dbo.tblResource.LastName + ', ' + dbo.tblResource.FirstName AS ResourceName, dbo.EventDetailHours.WorkDate, 
                      dbo.EventDetailHours.ResourceNumber, dbo.EventDetailHours.ProjectID, dbo.EventDetailHours.TaskID, dbo.EventDetailHours.Hours, 
                      dbo.EventDetailHours.eventlistid, dbo.EventDetailHours.eventname, dbo.lkEventList.Description AS EventList, dbo.tblTask.Name AS TaskName, 
                      dbo.tblTaskCoFunding.ClientFundingPct AS TaskClientFundingPct, dbo.tblTaskCoFunding.ClientFundedBy AS TaskClientFundedBy, 
                      dbo.tblResource.ResourceOrg, dbo.tblAFEDetail.COBusinessLead
FROM         dbo.tblResource RIGHT OUTER JOIN
                      dbo.lkProgramGroup RIGHT OUTER JOIN
                      dbo.tblAFEDetail LEFT OUTER JOIN
                      dbo.lkITSABillingCategory ON dbo.tblAFEDetail.ITSABillingCategoryID = dbolkITSABillingCategory.ITSABillingCategoryID RIGHT OUTER JOIN
                      dbo.EventDetailHours LEFT OUTER JOIN
                      dbo.lkEventList ON dbo.EventDetailHours.eventlistid = dbo.lkEventList.EventListID LEFT OUTER JOIN
                      dbo.tblTaskCoFunding RIGHT OUTER JOIN
                      dbo.tblProject INNER JOIN
                      dbo.tblTask ON dbo.tblProject.ProjectID = dbo.tblTask.ProjectID ON dbo.tblTaskCoFunding.ProjectID = dbo.tblTask.ProjectID AND 
                      dbo.tblTaskCoFunding.TaskID = dbo.tblTask.TaskID ON dbo.EventDetailHours.TaskID = dbo.tblTask.TaskID AND 
                      dbo.EventDetailHours.ProjectID = dbo.tblTask.ProjectID ON dbo.tblAFEDetail.AFE_DescID = dbo.tblProject.AFE_DescID LEFT OUTER JOIN
                      dbo.lkProgram ON dbo.tblProject.ProgramID = dbo.lkProgram.ProgramID ON 
                      dbo.lkProgramGroup.Prog_GroupID = dbo.tblProject.Prog_GroupID LEFT OUTER JOIN
                      dbo.lkAFEDescription ON dbo.tblProject.AFE_DescID = dbo.lkAFEDescription.AFE_DescID LEFT OUTER JOIN
                      dbo.tblProjectCoFunding ON dbo.tblProject.ProjectID = dbo.tblProjectCoFunding.ProjectID ON 
                      dbo.tblResource.ResourceNumber = dbo.EventDetailHours.ResourceNumber LEFT OUTER JOIN
                      dbo.lkBillingCode ON dbo.tblResource.Billing_CodeID = dbo.lkBillingCode.Billing_CodeID
WHERE     (dbo.tblProject.Client IN ('Continental Express', 'Continental Micronesia', 'Continental Account', 'Continental Airlines', 'Continental Acct')) AND 
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblProject.Type <> 'Infrastructure') AND (NOT (dbo.tblResource.Billing_CodeID IS NULL)) AND 
                      (NOT (dbo.tblProject.Prog_GroupID IS NULL)) AND (NOT (dbo.tblProject.ProgramID IS NULL)) AND (NOT (dbo.tblProject.AFE_DescID IS NULL)) OR
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblProject.Type <> 'Infrastructure') AND (NOT (dbo.tblResource.Billing_CodeID IS NULL)) AND 
                      (NOT (dbo.tblProject.Prog_GroupID IS NULL)) AND (NOT (dbo.tblProject.ProgramID IS NULL)) AND (NOT (dbo.tblProject.AFE_DescID IS NULL)) AND 
                      (dbo.tblProjectCoFunding.ClientFundedBy IN ('Continental Express', 'Continental Micronesia', 'Continental Account', 'Continental Airlines', 
                      'Continental Acct')) OR
                      (dbo.tblProject.BillingFlag = 'Client Billable') AND (dbo.tblProject.Type <> 'Infrastructure') AND (NOT (dbo.tblResource.Billing_CodeID IS NULL)) AND 
                      (NOT (dbo.tblProject.Prog_GroupID IS NULL)) AND (NOT (dbo.tblProject.ProgramID IS NULL)) AND (NOT (dbo.tblProject.AFE_DescID IS NULL)) AND 
                      (dbo.tblTaskCoFunding.ClientFundedBy IN ('Continental Express', 'Continental Micronesia', 'Continental Account', 'Continental Airlines', 
                      'Continental Acct'))
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

